body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
}

.compass-ring {
    border: 2px solid rgb(3, 157, 200);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/* Make the popup background transparent */
.leaflet-popup {
    background: transparent;  /* Removes the background color */
    border: none;             /* Removes the border */
    box-shadow: none;         /* Removes the shadow */
}

/* Remove the border around the popup content */
.leaflet-popup-content-wrapper {
    border: none;             /* No border */
    background: transparent;  /* Transparent background */
    box-shadow: none;         /* No shadow */
}

/* Remove the close button (the 'x' icon) */
.leaflet-popup-close-button {
    display: none;            /* Hide the close button */
}

/* Adjust the popup content padding if needed */
.leaflet-popup-content {
    padding: 0;              /* No padding */
    margin: 0;               /* No margin */
}

/* .leaflet-tile { 
    border: solid rgba(250, 235, 215, 0.113) 1px; 
} */


.page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
}

.map-box-element {
    width: 65%;
    height: 90%;
    /* background-color: lightblue; */
    border: 1px solid rgb(1, 1, 106);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 8px;
}

.options-box-element {
    width: 30%;
    height: 90%;
    /* background-color: lightcoral; */
    /* border: 1px solid rgb(1, 1, 106); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 8px;
    flex-direction: column;
    justify-content: flex-start;
}
